@use 'helpers' as *;


html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(16, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base),sans-serif;
  letter-spacing: -0.03em;
  color: var(--grey--300);
  background-color: var(--grey--900); 
  background-image: url(../assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--grey--50);
  font-weight: 700;
}


h1, .h1 {
  @include fluid-text(64, 30);
  line-height: 80px;
  letter-spacing: -2%;

}

h2, .h2 {
  @include fluid-text(48, 28);
   line-height: 56px;
  letter-spacing: -2%;
}

h3, .h3 {
  @include fluid-text(32, 24);
  line-height: 40px;
  letter-spacing: -2%;
}

h4, .h4 {
  @include fluid-text(24, 18);
  line-height: 32px;
  letter-spacing: -1.5%;
  font-weight: 800;
}

h5, .h5 {
  @include fluid-text(20, 18);
  line-height: 24px;
  letter-spacing: -1.5%;
  font-weight: 800;
}

h6, .h6 {
  @include fluid-text(16, 14);
  line-height: 24px;
  letter-spacing: -1.5%;
  font-weight: 800;
}



a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-green);
  }

  &[class] {
    text-decoration: none;
  }
}



