@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base),sans-serif;
  letter-spacing: -0.03em;
  color: var(--color-green);
  background-color: var(--color-bg);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-green);
  font-weight: 700;
}


h1, .h1 {
  @include fluid-text(70, 30);

  letter-spacing: 0.5px
}

h2, .h2 {
  @include fluid-text(52, 28);

  line-height: 1.3;
}

h3, .h3 {
  @include fluid-text(40, 24);
}

h4, .h4 {
  @include fluid-text(30, 18);
}

h5, .h5 {
  @include fluid-text(24, 18);
}

h6, .h6 {
  @include fluid-text(20, 16);
}



a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-green);
  }

  &[class] {
    text-decoration: none;
  }
}



