.button{
	padding: 8px 32px;
	border: none;
	border-radius: 8px;
	background-color: transparent;
	color: var(--grey--300);
}

.button_active{
	background-color: var(--primary--400);
	color: var(--primary--50);
}